# Core functionality - changes here should be rare!
/src/app.py                   @terrence0909
/src/backend/database.py      @terrence0909
/src/backend/routers/auth.py  @terrence0909

# The frontend will need refactored soon to be more object oriented.
/src/static/   @terrence0909
